/* 一番左の列を２行にした4列レイアウト */

@use '../mastodon/variables' as *;

@mixin apply {
  .layout-multiple-columns {
    .link-footer {
      margin-bottom: 0;
    }

    .navigation-panel {
      margin-top: 0;
    }

    .app-holder,
    .app-holder > div {
      align-items: initial;
    }
  }

  @media screen and (min-width: $no-gap-breakpoint) {
    .drawer {
      width: 25% !important;
      height: 510px !important;
      overflow: visible !important;
    }

    .column {
      flex: auto !important;
    }

    .column:nth-child(2) {
      position: fixed !important;
      padding-left: 10px !important;
      left: 0 !important;
      width: 25% !important;
      top: 500px !important;
      bottom: 0 !important;
    }

    .column:nth-child(2) .column-header__collapsible {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
