@use "sass:color";

@mixin transparent-background(
  $wallpaper,
  $mobile-menu-breakpoint
) {
  .transparent-bg {
    background: url(#{$wallpaper}) no-repeat fixed center top/cover;
  }

  /* 半透明デザイン */

  body,
  .tabs-bar__wrapper {
    background: url($wallpaper) no-repeat fixed center top/cover;
  }

  body.admin,
  .admin-wrapper .sidebar-wrapper__inner {
    background: url($wallpaper) no-repeat fixed center top/cover;
  }

  .columns-area__panels__main {
    background: none;
  }

  .drawer__inner {
    background: none;

    .search-results__section {
      background: var(--background-color);
    }

    &__mastodon {
      background: none;
    }
  }

  .compose-form {

    &__highlightable {
      background: rgba(9, 9, 12, 0.7);
    }

    .autosuggest-textarea__textarea,
    .spoiler-input__input {
      background: none;
    }
  }

  .explore__search-header {
    background: none;
  }

  .search__input {
    background: rgba(9, 9, 12, 0.7);
  }

  .ui__navigation-bar,
  .dropdown-menu,
  .interaction-modal,
  .boost-modal,
  .report-modal,
  .actions-modal,
  .compare-history-modal {
    background: none;
    backdrop-filter: var(--background-filter-dark);
  }

  @media screen and (max-width: #{ $mobile-menu-breakpoint - 1 }) {
    body {
      background: none;
      position: relative;
    }

    .layout-single-column .ui__header,
    .admin-wrapper .sidebar__toggle {
      background: none;
      backdrop-filter: var(--background-filter-darker);
    }

    .tabs-bar__wrapper {
      background: none;
      backdrop-filter: var(--background-filter-dark);
    }

    body::before {
      content: "";
      background: url(#{$wallpaper}) no-repeat center center/cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }

    .columns-area__panels__pane--navigational .columns-area__panels__pane__inner {
      background: none;
      backdrop-filter: var(--background-filter-dark);
    }
  }
}

/* 変数の追加 */

:root {
  --background-filter-dark: blur(10px) saturate(180%) contrast(75%) brightness(30%);
  --background-filter-darker: blur(10px) saturate(180%) contrast(75%) brightness(15%);
}
