/* 半透明デザイン */

body {
  background: url($wallpaper) no-repeat fixed center top/cover;
}

.drawer__inner {
  background: initial;

  &__mastodon {
    background: initial;
  }
}

.compose-form {

  &__highlightable {
    background: rgba(darken($ui-base-color, 15%), 0.7);
  }

  .autosuggest-textarea__textarea, .spoiler-input__input {
    background: initial;
  }
}

.search__input {
  background: rgba(darken($ui-base-color, 15%), 0.7);
}
