@use 'sass:color';

@mixin transparent-background($wallpaper, $mobile-breakpoint) {
  .transparent-bg {
    background: url($wallpaper) no-repeat fixed center top/cover;
  }

  /* 半透明デザイン */

  body,
  .tabs-bar__wrapper {
    background: url($wallpaper) no-repeat fixed center top/cover;
  }

  body.admin,
  .admin-wrapper .sidebar-wrapper__inner {
    background: url($wallpaper) no-repeat fixed center top/cover;
  }

  .columns-area__panels__main {
    background: none;
  }

  .drawer__inner {
    background: none;

    .search-results__section {
      background: var(--background-color);
    }

    &__mastodon {
      background: none;
    }
  }

  .compose-form {
    &__highlightable {
      background: rgba(9, 9, 12, 70%);
    }

    .autosuggest-textarea__textarea,
    .spoiler-input__input {
      background: none;
    }
  }

  .explore__search-header {
    background: none;
  }

  .search__input {
    background: rgba(9, 9, 12, 70%);
  }

  .search-results__section__header {
    background: none;
    backdrop-filter: var(--background-filter-darker);
  }

  .with-zig-zag-decoration::after {
    background-color: rgba(0, 0, 0, 0%);
  }

  .status__wrapper-direct,
  .notification-ungrouped--direct,
  .notification-group--direct,
  .notification-group--annual-report {
    background: rgba(38, 30, 72, 70%);
  }

  .detailed-status__wrapper-direct .detailed-status,
  .detailed-status__wrapper-direct .detailed-status__action-bar {
    background: rgba(38, 30, 72, 70%);
  }

  /* モーダル等 */

  .ui__navigation-bar,
  .search__popout,
  .dropdown-menu,
  .interaction-modal,
  .boost-modal,
  .report-modal,
  .actions-modal,
  .compare-history-modal {
    background: none;
    backdrop-filter: var(--background-filter-dark);
  }

  .safety-action-modal__top,
  .safety-action-modal__bottom {
    background: none;
  }

  .search.active .search__popout {
    background: var(--color-bg-overlay);
  }

  @media screen and (max-width: #{ $mobile-breakpoint - 1 }) {
    body {
      background: none;
      position: relative;
    }

    body::before {
      content: '';
      background: url(#{$wallpaper}) no-repeat center center/cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }

    .layout-single-column .ui__header,
    .admin-wrapper .sidebar__toggle,
    .tabs-bar__wrapper,
    .columns-area__panels__pane--navigational
      .columns-area__panels__pane__inner {
      background: none;
      backdrop-filter: var(--background-filter-darker);
    }
  }
}

/* 変数の追加 */

:root {
  --background-filter-dark: blur(10px) saturate(180%) contrast(75%)
    brightness(30%);
  --background-filter-darker: blur(10px) saturate(180%) contrast(75%)
    brightness(15%);
}
